.nav-container {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 20px;
}

.nav-logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}